body {font-family: "Lato", sans-serif;
        text-align: center;
       
}

.tablink {
  background-color: rgb(99, 99, 99);
  color: rgb(255, 255, 255);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 200px;
  text-align: center;
}

#red {background-color:red;}
#green {background-color:green;}
#blue {background-color:blue;}
#orange {background-color:orange;}

